extends layout
block content
    // main
    .container
      .row.center
        h3.col.s12.light みんなの描いたイラストだよ
      .row
        .col-3
          .card
            img.card-img-top(src="gorilla_drumming.png" alt="...")
            .card-body
              p.card-text
                a Drumming Gorilla
                br
                |ゴリラ大好き さん制作
                br
                |ウホウホするゴリラさんです
        .col-3
          .card
            img.card-img-top(src="gorilla_family.png" alt="...")
            .card-body
              p.card-text
                a Family Gorilla
                br
                |ゴリラ大好き さん制作
                br
                |親子愛の溢れるゴリラさんです
        .col-3
          .card
            img.card-img-top(src="gorilla_girl.png" alt="...")
            .card-body
              p.card-text
                a Gorilla Girl
                br 
                |ゴリラ大好き さん制作
                br
                |最近巷で話題の美少女ゴリラさんです
        .col-3
          .card
            img.card-img-top(src="gorilla_hardboiled.png" alt="...")
            .card-body
              p.card-text
                a HardBoiled Gorilla
                br
                |ゴリラ大好き さん制作
                br
                |少し怪しげなゴリラさんです
        .col-3
          .card
            img.card-img-top(src="gorilla_tuyoi.png" alt="...")
            .card-body
              p.card-text
                a Standard Gorilla
                br
                | ゴリラ大好き さん制作
                br
                |スタンダードなゴリラさんです
      .row t
