extends layout
block content
  if user 
    h1 (´・ω・｀)Welcome to ゴリラのハウスへ
    p こんにちは, #{user.displayName} さん
    a(href="/top") (´・ω・｀)TOPページだよ
    br
    br
    a(href="/logout") Logout
  else 
    h1 (´・ω・｀) ここがあのゴリラの、ハウスね
    a(href="/login/twitter") Login
