doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="../stylesheets/style.css")
    script(defer,src="/javascripts/bundle.js")
  body
    h1 Let's お絵描き
    canvas#Canvas(width="560" height="360")
    div
      button#deleteCanvas やり直し
      a#download-link(href="" download="") 保存  
    br
    br
    div
