doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="../stylesheets/style.css")
    script(defer,src="/javascripts/bundle.js")
  body
    h1 Let's お絵描き
    canvas#myPics(width="560" height="360")